cbm-local @ git+https://github.com/payampiray/cbm_python.git@ccb8aa8cd03a0c3edd30fd6d39de39511f6a4d6e
numpy==2.4.4
pandas==3.0.2
pip==26.0.1
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
